INFOSYS_STOCK_MARKET_PRICE_PREDICTION

Importing the required Libraries

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [31]:
df = pd.read_csv("C:\\Users\\ckdshjadskkhdsl\\Downloads\\INFY.NS (1).csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-07-01,494.500000,502.500000,493.000000,498.700012,415.561249,6880852.0
1,2015-07-02,499.500000,500.700012,492.524994,494.000000,411.644745,4007568.0
2,2015-07-03,494.000000,496.500000,491.000000,495.149994,412.603058,2695306.0
3,2015-07-06,492.500000,494.000000,487.500000,491.649994,409.686493,4305602.0
4,2015-07-07,492.500000,495.000000,489.500000,490.250000,408.519897,3497418.0
...,...,...,...,...,...,...,...
1223,2020-06-23,695.700012,724.500000,692.099976,720.650024,720.650024,12157390.0
1224,2020-06-24,716.900024,726.799988,709.400024,714.150024,714.150024,10220838.0
1225,2020-06-25,704.849976,705.599976,693.500000,700.500000,700.500000,14945284.0
1226,2020-06-26,710.200012,751.599976,710.000000,748.200012,748.200012,26030458.0
1227,2020-06-29,735.400024,744.700012,730.099976,731.750000,731.750000,8954428.0

In [32]:
df.shape

(1228, 7)

In [33]:
df.describe

<bound method NDFrame.describe of             Date        Open        High         Low       Close   Adj Close  \
0     2015-07-01  494.500000  502.500000  493.000000  498.700012  415.561249
1     2015-07-02  499.500000  500.700012  492.524994  494.000000  411.644745
2     2015-07-03  494.000000  496.500000  491.000000  495.149994  412.603058
3     2015-07-06  492.500000  494.000000  487.500000  491.649994  409.686493
4     2015-07-07  492.500000  495.000000  489.500000  490.250000  408.519897
...          ...         ...         ...         ...         ...         ...
1223  2020-06-23  695.700012  724.500000  692.099976  720.650024  720.650024
1224  2020-06-24  716.900024  726.799988  709.400024  714.150024  714.150024
1225  2020-06-25  704.849976  705.599976  693.500000  700.500000  700.500000
1226  2020-06-26  710.200012  751.599976  710.000000  748.200012  748.200012
1227  2020-06-29  735.400024  744.700012  730.099976  731.750000  731.750000

          Volume
0      6880852.0
1      4007568.0
2      2695306.0
3      4305602.0
4      3497418.0
...          ...
1223  12157390.0
1224  10220838.0
1225  14945284.0
1226  26030458.0
1227   8954428.0

[1228 rows x 7 columns]>

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1228 non-null   object
 1   Open       1227 non-null   float64
 2   High       1227 non-null   float64
 3   Low        1227 non-null   float64
 4   Close      1227 non-null   float64
 5   Adj Close  1227 non-null   float64
 6   Volume     1227 non-null   float64
dtypes: float64(6), object(1)
memory usage: 67.3+ KB

In [35]:
# Convert Date to datetime and sort by time (important for time-series)
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values('Date').reset_index(drop=True)

In [36]:
df.isnull().sum()

Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

In [37]:
df.isnull().sum().sum()

6

Drop rows with missing values

In [38]:

df = df.dropna().reset_index(drop=True)

In [39]:
# Create Target: next day's Close price
df['Target'] = df['Close'].shift(-1)

# Drop last row (Target is NaN there because no "next day")
df = df.iloc[:-1].reset_index(drop=True)

Define features

In [40]:

feature_cols = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
target_col = 'Target'

X = df[feature_cols]
y = df[target_col]

Time-based train-test split (80% train, 20% test)

In [41]:

split_index = int(len(df) * 0.8)
X_train, X_test = X.iloc[:split_index], X.iloc[split_index:]
y_train, y_test = y.iloc[:split_index], y.iloc[split_index:]

Scaling for linear / distance-based models

In [42]:

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
print("Train shape:", X_train.shape, " Test shape:", X_test.shape)
print("Features:", feature_cols)
print("Target column:", target_col)

Train shape: (980, 6)  Test shape: (246, 6)
Features: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Target column: Target